plugin: amazon.aws.aws_ec2

regions:
  - ${region}

compose:
  ansible_host: instance_id
  ansible_aws_ssm_instance_id: instance_id
  ansible_aws_ssm_region: ${region}
  ansible_aws_ssm_bucket_name: ${ansible_ssm_bucket_name}
  ansible_python_interpreter: /usr/bin/python3

filters:
  tag:type:
    - controller
    - worker
    - bgp
  instance-state-name: running

hostnames:
  - tag:Name

keyed_groups:
  - key: tags.type
    separator: ""

groups:
  container_runners: "tags.type == 'controller' or tags.type == 'worker'"
  controllers: "tags.type == 'controller'" 
  leader: "tags.type == 'controller'"
  workers: "tags.type == 'worker'"
  bgp_routers: "tags.type == 'bgp'"
