Host aws-controller
  Hostname ${ controller }
  User ${ default_user }
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

%{ for idx, worker in workers ~}
Host aws-worker-${idx}
  Hostname ${ worker }
  User ${ default_user }
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
%{ endfor ~}

Host aws-bgp
  Hostname ${ bgp }
  User ${ default_user }
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
