# default to using syslog. /etc/rsyslog.d/45-frr.conf places the log
# in /var/log/frr/frr.log
# In FRR both ! and # are considered comment characters and can be treated the same
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Base Config for FRR as a whole
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# Reflects defaults adhering mostly to IETF standards or common practices in wide-area internet routing
# (as opposed to datacenter which reflects a single administrative domain and uses aggressive timers)
frr defaults traditional
!
# Logs to syslog at an informational level
# (other values are: emergencies, alerts, critical, errors, warnings, notifications, informational, or debugging)
log syslog informational
!
# Puts all configuration into this single frr.conf file rather than having a separate config per daemon
service integrated-vtysh-config
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Basic BFD config
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
bfd
  # Add peers
{% for peer in bgp_peers %}
  peer {{ hostvars[peer].ansible_facts['default_ipv4'].address }}
    detect-multiplier 3
    transmit-interval 100
    receive-interval 100
    no shutdown
  !
{% endfor %}
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Basic BGP config to setup neighbors and peer groups
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
router bgp {{ bgp_asn }}
  # ID ourselves as our default IPv4 Address
  bgp router-id {{ ansible_facts['default_ipv4'].address }}
!
  # Consider paths of equal AS_PATH length candidates for multipath computation (without this, the entire AS_PATH must
  # match for multipath computation
  bgp bestpath as-path multipath-relax
  # Ensure that when comparing routes where both are equal on most metrics, that the tie is broken based on router ID
  bgp bestpath compare-routerid
!
  # Enable BGP Graceful Restart
  bgp graceful-restart
  bgp graceful-restart preserve-fw-state
  bgp graceful-restart restart-time 300
!
  # Setup peer groups
  neighbor kubepeers peer-group
  neighbor kubepeers remote-as {{ bgp_asn }}
!
  # Add peers
{% for peer in bgp_peers %}
  {{ "neighbor " + hostvars[peer].ansible_facts['default_ipv4'].address + " peer-group kubepeers" }}
  {{ "neighbor " + hostvars[peer].ansible_facts['default_ipv4'].address + " bfd" }}
{% endfor %}
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Configure IPv4 family
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
address-family ipv4 unicast
  # Activate ipv4 for the kubepeers peer groups
  neighbor kubepeers activate
!
  # Setup this configuration as a route-server, see:
  # https://docs.frrouting.org/en/latest/bgp.html#configuring-frr-as-a-route-server
  neighbor kubepeers route-server-client
!
  # Filter imports & exports via route-map first
  neighbor kubepeers route-map IMPORTv4 in
  neighbor kubepeers route-map UNACCEPTED out
!
  # "import" and "export" are different than the normal "in" and "out" definitions that we normally see in policy
  # This is tied to route-server-client definition above
  neighbor kubepeers route-map IMPORTv4 import
  neighbor kubepeers route-map UNACCEPTED export
!
  # Allows us to generate inbound updates from a neighbor, change and activate BGP policies without clearing the BGP session
  neighbor kubepeers soft-reconfiguration inbound
exit-address-family
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Configure IPv6 family
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
address-family ipv6 unicast
  # Activate ipv6 for the kubepeers peer groups
  neighbor kubepeers activate
!
  # Setup this configuration as a route-server, see:
  # https://docs.frrouting.org/en/latest/bgp.html#configuring-frr-as-a-route-server
  neighbor kubepeers route-server-client
!
  # Filter imports & exports via route-map first
  neighbor kubepeers route-map IMPORTv6 in
  neighbor kubepeers route-map UNACCEPTED out
!
  # "import" and "export" are different than the normal "in" and "out" definitions that we normally see in policy
  # This is tied to route-server-client definition above
  neighbor kubepeers route-map IMPORTv6 import
  neighbor kubepeers route-map UNACCEPTED export
!
  # Allows us to generate inbound updates from a neighbor, change and activate BGP policies without clearing the BGP session
  neighbor kubepeers soft-reconfiguration inbound
exit-address-family
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Setup IP Prefix lists
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# Allow external IP range and allows /32 addresses to be specified
ip prefix-list pl-allowed-adv seq 5 permit {{ external_ip_range.ipv4 }} le 32
{% if loadbalancer_enabled is defined and loadbalancer_enabled %}
# Allow loadbalancer IP range and allows /32 addresses to be specified
ip prefix-list pl-allowed-adv seq 6 permit {{ loadbalancer_ip_range.ipv4 }} le 32
{% endif %}
# Allow pod IP addresses and allows /24 addresses to be specified (which is the default from kube-controller-manager)
ip prefix-list pl-allowed-adv seq 10 permit {{ pod_network.ipv4 }} le 24
# Allow Cluster IP Addresses (from Kubernetes default range) and allows /32 addresses to be specified
# This is disabled for now, but in order for this to work, kube-router would need to be configured with: --advertise-cluster-ip
ip prefix-list pl-allowed-adv seq 15 permit {{ service_network.ipv4 }} le 32
# Deny all other BGP imports
ip prefix-list pl-allowed-adv seq 50 deny any
!
{% if ipv6_enabled is defined and ipv6_enabled %}
# Allow external IP range and allows /128 addresses to be specified
ipv6 prefix-list pl-allowed-v6-adv seq  5 permit {{ external_ip_range.ipv6 }} le 128
{% if loadbalancer_enabled is defined and loadbalancer_enabled %}
# Allow loadbalancer IP range and allows /128 addresses to be specified
ipv6 prefix-list pl-allowed-v6-adv seq  6 permit {{ loadbalancer_ip_range.ipv6 }} le 128
{% endif %}
# Allow pod IP addresses and allows /64 addresses to be specified
ipv6 prefix-list pl-allowed-v6-adv seq  10 permit {{ pod_network.ipv6 }} le 64
# Allow cluster IP range and allows /128 addresses to be specified
# This is disabled for now, but in order for this to work, kube-router would need to be configured with: --advertise-cluster-ip
ipv6 prefix-list pl-allowed-v6-adv seq  15 permit {{ service_network.ipv6 }} le 128
{% endif %}
# Deny all other BGP imports
ipv6 prefix-list pl-allowed-v6-adv seq 50 deny any
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Setup Route Maps
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# Allows us to filter imports from the prefix-list
route-map IMPORTv4 permit 10
  match ip address prefix-list pl-allowed-adv
  set metric 10
!
route-map IMPORTv6 permit 10
  match ipv6 address prefix-list pl-allowed-v6-adv
  set metric 10
!
# Deny any export paths
route-map UNACCEPTED deny 1
