---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes_version.stdout }}
clusterName: kube-router
apiServer:
  certSANs:
    - "127.0.0.1"
    - "{{ ansible_default_ipv4.address }}"
    - "{{ ansible_default_ipv6.address }}"
    - "{{ ansible_host }}"
{% if ec2_public_ip is defined and ec2_public_ip %}
    - "{{ ec2_public_ip }}"
{% endif %}
#  extraArgs:
#    feature-gates: NetworkPolicyEndPort=true
networking:
{% if ipv6_enabled is defined %}
  podSubnet: {{ pod_network.ipv4 | default("10.242.0.0/16", true) }},{{ pod_network.ipv6 | default("2001:db8:42:0::/56", true) }}
  serviceSubnet: {{ service_network.ipv4 | default("10.96.0.0/16", true) }},{{ service_network.ipv6 | default("2001:db8:42:1::/112", true) }}
{% else %}
  podSubnet: {{ pod_network.ipv4 | default("10.242.0.0/16", true) }}
  serviceSubnet: {{ service_network.ipv4 | default("10.96.0.0/16", true) }}
{% endif %}
{% if ansible_system_vendor == "Amazon EC2" %}
#controllerManager:
#  extraArgs:
#    cloud-provider: external
#    external-cloud-volume-plugin: aws
#apiServer:
#  extraArgs:
#    cloud-provider: external
{% endif %}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
patches:
  directory: /etc/kubeadm/patches
localAPIEndpoint:
  advertiseAddress: {{ ansible_default_ipv4.address }}
  bindPort: 6443
nodeRegistration:
  criSocket: unix://{{ cri_socket | default("/var/run/dockershim.sock", true) }}
  imagePullPolicy: IfNotPresent
  taints: null
  kubeletExtraArgs:
{% if ansible_system_vendor == "Amazon EC2" %}
    # node-ip isn't supported when using a cloud provider
    # cloud-provider is currently deprecated and will likely need to be removed soon, for now, it still provides some
    # value in that it provides a special taint on the node until the cloud-controller has initialized the node
    cloud-provider: external
{% endif %}
{# In the case of EC2 we rely on the AWS cloud-provider to provide these options #}
{% if ipv6_enabled is defined %}
    node-ip: {{ ansible_default_ipv4.address }},{{ ansible_default_ipv6.address }}
{% else %}
    node-ip: {{ ansible_default_ipv4.address }}
{% endif %}
# To see more options that could go here, see: https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file
# You can also see the default values with: kubeadm config print init-defaults
